/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Streamster";
  src: url("../fonts/Streamster.ttf");
  src: url("../fonts/Streamster.ttf") format("truetype"); }

html {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  color: #222; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Streamster", sans-serif; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.hidden {
  opacity: 0; }

@-webkit-keyframes BG-Move {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes BG-Move {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-webkit-keyframes fadeup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  100% {
    opacity: 1; } }

@keyframes fadeup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadedown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

@keyframes fadedown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

.fadedown--1, .fadedown--2, .fadedown--3, .fadedown--4 {
  -webkit-animation-name: fadedown;
          animation-name: fadedown; }

.fadedown--1 {
  -webkit-animation-duration: .5s;
          animation-duration: .5s; }

.fadedown--2 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

.fadedown--3 {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }

.fadedown--4 {
  -webkit-animation-duration: 2s;
          animation-duration: 2s; }

.banner--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#009FFF), to(#ec2F4B));
  background: linear-gradient(to right, #009FFF, #ec2F4B);
  background-size: 200% 200%;
  min-height: 100vh;
  margin-bottom: 100px;
  -webkit-animation: BG-Move 20s ease infinite;
          animation: BG-Move 20s ease infinite; }
  @media screen and (max-width: 750px) {
    .banner--container {
      min-height: 65vh; } }

.banner--title {
  text-align: center;
  color: #EAEAEA;
  font-size: 5rem; }
  @media screen and (max-width: 750px) {
    .banner--title {
      font-size: 3rem; } }

.banner--subtitle {
  padding-top: 15px;
  text-align: center;
  color: #EAEAEA;
  font-size: 3rem;
  margin-bottom: 100px;
  -webkit-animation: 2s fadeup;
          animation: 2s fadeup; }
  @media screen and (max-width: 750px) {
    .banner--subtitle {
      font-size: 2rem; } }

.banner--button {
  font-size: 2rem;
  -webkit-animation: 2s fadeup;
          animation: 2s fadeup;
  border-radius: 30px;
  text-decoration: none;
  color: #EAEAEA;
  padding: 15px 60px;
  background-color: transparent;
  border: 1px solid #EAEAEA;
  font-family: "Streamster", sans-serif;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .banner--button:hover {
    background-color: #EAEAEA;
    color: #222;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }

.section {
  width: 85%;
  margin: auto;
  margin-bottom: 100px; }
  .section--heading {
    font-size: 3rem; }
    @media screen and (max-width: 750px) {
      .section--heading {
        font-size: 2rem; } }

.about--heading {
  text-align: center; }

.about--content {
  text-align: center;
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 1.5; }
  @media screen and (max-width: 750px) {
    .about--content {
      font-size: 1rem; } }

.skills--heading {
  text-align: center; }

.skills--item {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 30px;
  float: left;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .skills--item {
      width: 98%; } }
  @media screen and (min-width: 750px) {
    .skills--item {
      width: 48%; } }
  @media screen and (min-width: 1200px) {
    .skills--item {
      width: 23%; } }

.skills--image {
  max-width: 100%;
  max-height: 150px;
  margin-bottom: 15px; }

.skills--skill {
  font-size: 1.7rem;
  margin-bottom: 15px; }
  @media screen and (max-width: 750px) {
    .skills--skill {
      font-size: 1.5rem; } }

.skills--content {
  font-size: 1.3rem;
  line-height: 1.5; }
  @media screen and (max-width: 750px) {
    .skills--content {
      font-size: 1rem; } }

.projects--heading {
  text-align: center;
  margin-bottom: 50px; }

.projects--container {
  max-width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.projects--project {
  width: 45%;
  height: 200px;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 30px;
  margin-bottom: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3); }
  .projects--project:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 7px 23px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 7px 23px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .projects--project a {
    text-decoration: none;
    color: #222;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  @media screen and (max-width: 750px) {
    .projects--project {
      font-size: 1.5rem;
      width: 80%;
      margin: 0 auto 30px auto; } }

.projects--title {
  margin: auto; }

#projects--ypf {
  background: #4CB8C4;
  background: linear-gradient(45deg, #3CD3AD, #4CB8C4); }

#projects--skuCreator {
  background: #FF512F;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#DD2476), to(#FF512F));
  background: linear-gradient(to bottom, #DD2476, #FF512F);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

#projects--yelpCamp {
  background: #E55D87;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#5FC3E4), to(#E55D87));
  background: linear-gradient(to bottom, #5FC3E4, #E55D87);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

#projects--github {
  background: #ff6e7f;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#bfe9ff), to(#ff6e7f));
  background: linear-gradient(to bottom, #bfe9ff, #ff6e7f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.contact--container {
  background: -webkit-gradient(linear, left top, right top, from(#009FFF), to(#ec2F4B));
  background: linear-gradient(to right, #009FFF, #ec2F4B);
  height: 550px;
  color: #EAEAEA; }

.contact--heading {
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px; }

.contact--item {
  margin: auto;
  font-size: 1.5rem;
  line-height: 1.5;
  text-decoration: none;
  color: #EAEAEA; }
  .contact--item:before {
    padding-right: 5px; }
  @media screen and (max-width: 750px) {
    .contact--item {
      font-size: 1rem;
      text-align: center; } }

.contact--hire:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0b1"; }

.contact--email:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0e0"; }

.contact--gitlab:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f09b"; }

.contact--twitter:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f099"; }

.contact--instagram:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f16d"; }

.contact--mastodon:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f4f6"; }

#contact {
  max-width: 900px; }
