.about {
	&--heading {
		text-align: center;
	}

	&--content {
		text-align: center;
		max-width: 900px;
		margin: auto;
		margin-top: 20px;
		font-size: 1.5rem;
    line-height: $line-height;

    @media screen and (max-width: $break-small) {
      font-size: 1rem;
    }
	}
}