@keyframes BG-Move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  50% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadedown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

%fadedown-shared {
  animation-name: fadedown;
}

.fadedown {
  &--1 {
    @extend %fadedown-shared;
    animation-duration: .5s;
  }
  &--2 {
    @extend %fadedown-shared;
    animation-duration: 1s;
  }
  &--3 {
    @extend %fadedown-shared;
    animation-duration: 1.5s;
  }
  &--4 {
    @extend %fadedown-shared;
    animation-duration: 2s;
  }
}