.banner {
	&--container {
		display: flex;
    flex-direction: column;
		justify-content: center;
		align-items: center;
    background: linear-gradient(to right, $primary, $primary-gradient);
    background-size: 200% 200%;
		min-height: 100vh;
    margin-bottom: 100px;
    animation: BG-Move 20s ease infinite;

    @media screen and (max-width: $break-small) {
      min-height: 65vh
    }
	}

	&--title {
    text-align: center;
		color: $light-text;
		font-size: 5rem;

    @media screen and (max-width: $break-small) {
      font-size: 3rem;
    }
	}

  &--subtitle {
    padding-top: 15px;
    text-align: center;
    color: $light-text;
    font-size: 3rem;
    margin-bottom: 100px;
    animation: 2s fadeup;

    @media screen and (max-width: $break-small) {
      font-size: 2rem;
    }
  }
  &--button {
    font-size: 2rem;
    animation: 2s fadeup;
    border-radius: 30px;
    text-decoration: none;
    color: $light-text;
    padding: 15px 60px;
    background-color: transparent;
    border: 1px solid $light-text;
    font-family: $font-heading;
    transition: all 0.3s linear;

    &:hover {
      background-color: $light-text;
      color: $dark-text;
      transition: all 0.3s linear;
    }
  }
}