.contact {
	&--container {
		background: linear-gradient(to right, $primary, $primary-gradient);
		height: 550px;
		color: $light-text;
	}

	&--heading {
		margin: auto;
		text-align: center;
		padding-top: 100px;
		padding-bottom: 50px;
	}

	&--item {
		margin: auto;
		font-size: 1.5rem;
    line-height: $line-height;
    text-decoration: none;
    color: $light-text;

    &:before {
      padding-right: 5px;
    }

    @media screen and (max-width: $break-small) {
      font-size: 1rem;
      text-align: center;
    }
  }
  
  &--hire:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0b1";
  }

  &--email:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0e0";
  }

  &--gitlab:before {
    font-family: "Font Awesome 5 Brands";
    content: "\f09b"
  }

  &--twitter:before {
    font-family: "Font Awesome 5 Brands";
    content: "\f099"
  }
  
  &--instagram:before {
    font-family: "Font Awesome 5 Brands";
    content: "\f16d"
  }
  
  &--mastodon:before {
    font-family: "Font Awesome 5 Brands";
    content: "\f4f6"
  }
}

#contact {
  max-width: 900px;
}