html {
	font-family: $font-stack;
	font-size: 100%;
	color: $dark-text;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.hidden {
  opacity: 0;
}
