.projects {
	&--heading {
		text-align: center;
		margin-bottom: 50px;
	}

  &--container {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

	&--project {
    width: 45%;
    height: 200px;
		font-size: 2rem;
    line-height: $line-height;
    border-radius: 30px;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
    box-shadow:  5px 10px 10px rgba(0,0,0,0.3);
    
    &:hover {
      transform: translateY(-10px);
      box-shadow: 7px 23px 10px rgba(0,0,0,0.3);
      transition: all 0.2s ease-in-out;
    }

    a {
      text-decoration: none;
      color: $dark-text;
      width: 100%;
      height: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
    }

    @media screen and (max-width: $break-small) {
      font-size: 1.5rem;
      width: 80%;
      margin: 0 auto 30px auto;
    }
  }

  &--title {
    margin: auto;
  }
}

#projects--ypf {
  background: #4CB8C4;
  background: -webkit-linear-gradient(45deg, #3CD3AD, #4CB8C4);
  background: linear-gradient(45deg, #3CD3AD, #4CB8C4);
}

#projects--skuCreator {
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#projects--yelpCamp {
  background: #E55D87;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#projects--github {
  background: #ff6e7f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}