.skills {
	&--heading {
		text-align: center;
	}	
	
	&--item {
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 30px;
		float: left;
		text-align: center;

		@media screen and (max-width: $break-mobile) {
			width: 98%;
		}

		@media screen and (min-width: $break-small) {
			width: 48%;
		}

		@media screen and (min-width: $break-large) {
			width: 23%;
		}
	}	
	
	&--image {
		max-width: 100%;
		max-height: 150px;
		margin-bottom: 15px;
	}

	&--skill {
		font-size: 1.7rem;
    margin-bottom: 15px;

    @media screen and (max-width: $break-small) {
      font-size: 1.5rem;
    }
	}	

	&--content {
		font-size: 1.3rem;
    line-height: $line-height;

    @media screen and (max-width: $break-small) {
      font-size: 1rem;
    }
	}
}