@font-face {
	font-family: "Streamster";
	src: url('../fonts/Streamster.ttf');
	src: url('../fonts/Streamster.ttf') format('truetype');
}

$dark-text: #222;
$light-text: #EAEAEA;
$primary: #009FFF;
$primary-gradient: #ec2F4B;
$font-stack: 'Montserrat', sans-serif;
$font-heading: 'Streamster', sans-serif;
$break-mobile: 480px;
$break-small: 750px;
$break-medium: 900px;
$break-large: 1200px;
$line-height: 1.5;